* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}

body {

    background-color: greenyellow;
}


h1 {
    display: inline-block;
}

input {
    border-radius: 5px;
    display: inline-block;
    width: 70px;
    height: 60px;
    background-color: whitesmoke;
    font-size: 50px;
    align-items: center;
}


button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

#check {
    border-radius: 30px;
    background-color: lightblue;
}

#next {
    border-radius: 30px;
    background-color: orange;
}


div {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 400px;
}

fieldset {
    border-radius: 30px;
    background-color: aqua;
}

legend {
    font-size: 25px;
    text-align: center;
    background-color: rgba(41, 229, 48, 0.391);
    border-radius: 10px;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.405);
}

#nav {
    background-color: lightcoral;
    margin-top: 10px;
    font-size: 25px;
    height: 30px;
    border-radius: 15px;
}

#operator,#ps,#e {
    color: blue;
}

#ans{
    font-size: 30px;
}



 /* Login and Registraction Page  */

 form{
    margin-top: 30px;
 }

 #user,#psw,#ruser,#remail,#email,#rpsw{
    font-size: 30px;
    width: 300px;
    height: 40px;
background-color: rgb(189, 189, 221);
 }

